.skipped {
  background: #ACB1B6;
  border-radius: 3px;

  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
  line-height: var(--fs-base);
  
  letter-spacing: 0.15em;
  text-transform: uppercase;
    
  color: var(--copyLightColor);

  padding: 2px 10px;
  max-width: 83px;
  height: 20px;
}

.answerLi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.answerLi .text {
  font-weight: var(--fw-semibold);
  font-size: 0.9rem;
  line-height: 1.2rem;
  
  color: var(--copyDarkColor);
}

.scaleWrapper {
  height: 34px;
  max-width: 340px;
}