.wrapper :nth-child(1) {
  margin-top: 0;
}

.label {
  background: var(--lightGrey);
  border-radius: 0.2rem;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 0.2rem 0;

  cursor: pointer;
}

.label input {
  display: none;
}

.checked {
  background: #59636E;
}

.checked p {
  color: var(--copyLightColor);
}