.header {
  align-items: stretch;
  background-color: var(--lightGrey);
  border-bottom: var(--baseBorder);
  display: flex;
  gap: 2rem;
  padding: 0 var(--baseHorzSpacing);
}

.header h1 {
  font-weight: var(--fw-bold);
}

.header h1,
.header a {
  align-items: center;
  color: var(--copyColor);
  display: flex;
  margin: 0;
}

.header a {
  border-bottom: 3px solid var(--lightGrey);
  margin-bottom: 1px;
  padding-top: 10px;
  text-decoration: none;
}

.active {
  border-bottom: 3px solid var(--primaryColor) !important;
}

.spacer {
  border-right: var(--baseBorder);
  flex: 1;
}

.logout {
  display: flex;
  align-items: center;
}

.logout img {
  border-radius: 50%;
  width: 58px;
  height: 58px;

  pointer-events: none;
}

.logout div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logout div span {
  color: #031323;
  margin-left: 1rem;
}

.logout div a {
  padding: 0;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #59636E;
}

.displayFlex {
  display: flex;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;

  align-self: flex-start;
  background: var(--primaryColor);
  color: var(--copyLightColor);

  width: 1rem;
  height: 1rem;

  border-radius: 50%;

  font-size: var(--fs-sm);
  line-height: 15px;
}
