.wrapper {
  background: var(--copyLightColor);
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.25);

  padding: 3.4rem 2rem; 

  margin: 0 auto;
  max-width: 800px;
}

.wrapper h1 {
  font-weight: var(--fw-semibold);
}

.wrapper h2 {
  font-size: var(--fs-base);
  color: #59636E;
}